<app-navbar-admin-general></app-navbar-admin-general>
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <span class="h3">Paises</span>
            <button style="float: right;" class="btn btn-dark btn-lg " [routerLink]="['/paises/agregarPaises']"
                routerLinkActive="active">Agregar</button>
            <h2 class="mt-3"  *ngIf="paises.length==0">No hay datos para mostrar</h2>                
            <table *ngIf ="paises.length > 0" class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pais of paises">
                        <td> {{pais.descripcion}} </td>
                        <td><i [routerLink]="['/adminGeneral/paises/editarPaises/', pais.id]" class="fas fa-edit fa-lg text-info "></i></td>
                        <td><i (click)="eliminarPais(pais.id)" class="fas fa-trash-alt fa-lg text-danger"></i> </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
