<!--<h1>Este es el componente page, osea yo son la pantalla. Abajo cargo el hijo init</h1> -->
<app-navbar-admin
  [id]="id"
  (updateGrid)="updateGrid()"
></app-navbar-admin>

<div class="container pt-4 mt-5" *ngIf="!passActualizado">
  <div class="row">
      <div class="col-lg-6 offset-lg-3">
          <div class="card">
              <div class="card-body">
                  <h1 style="line-height: 1.2; font-size: 1.75rem; font-weight: 500;" class="text-center">Actualizar Contraseña
                      <div *ngIf ="loading"class="spinner-border float-right" role="status"></div>
                  </h1>
                  <h3 class="text-danger text-center mt-3" *ngIf="submitted && registrarUsuario.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</h3>
                  <form name ="registrarUsuarioDataForm"  #registrarUsuarioDataForm="ngForm"  class="mt-4" [formGroup]="registrarUsuario" (ngSubmit)="actualizarPass()">                       
                      <input id="contrasenia" #contraseniaForm name="contrasenia"  [(ngModel)]="usuarioModel.contrasenia" type="password" class="form-control mt-3" placeholder="Constraseña" formControlName="contrasenia">                
                      <input id="confirm_pass" type="password" class="form-control mt-3" placeholder="Confirmar Constraseña" (keyup)="confirmarContrasena()">                              
                      <h4 class="text-danger mt-3" *ngIf="!validarPass">Las contraseñas no son iguales</h4>  
                      <div class="mt-3 text-center">
                        <button type="submit" class="btn btn-dark"> Aceptar </button>
                    </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<div *ngIf="passActualizado" class="container mt-5">
    <div class="card">
        <div class="card-body">
            <span class="h3">Solicitudes de Cursos</span>
            <h1 class="mt-3"  *ngIf="notificaciones.length==0">No hay Notificaciones nuevas</h1>                
            <table *ngIf ="notificaciones.length > 0" class="table table-striped mt-2">
                <thead>
                    <tr class="noHover">
                        <th>Nombre curso</th>
                        <th>Descripcion</th>
                        <th>Observacion</th>
                        <th>fecha</th>
                        <th>Aprobar</th>
                        <th>Rechazar</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr  id="{{notificacion.id}}" *ngFor="let notificacion of notificaciones">
                        <td (click)="[openPopup(notificacion.id)]" style="cursor: pointer;"> {{notificacion.nombre_itinerario}} </td>
                        <td (click)="[openPopup(notificacion.id)]" style="cursor: pointer;"> {{notificacion.descripcion}} </td>
                        <td (click)="[openPopup(notificacion.id)]" style="cursor: pointer;"> {{notificacion.observacion}} </td>
                        <td (click)="[openPopup(notificacion.id)]" style="cursor: pointer;"> {{notificacion.fecha}} </td>
                        <th style="color: green; cursor: pointer; text-align: left;" (click)="aprobarSolicitudesDeCursos(notificacion.id,notificacion.id_entidad,notificacion.id_curso,notificacion.es_curso,notificacion.email_entidad)">✓</th>
                        <th style="color: red; cursor: pointer;  text-align: left;" (click)="rechazarCursosDialog(notificacion.id,notificacion.id_entidad,notificacion.id_curso,notificacion.es_curso,notificacion.email_entidad)">X</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div *ngIf="passActualizado"  class="container mt-5">
    <div class="card">
        <div class="card-body">
            <span class="h3">Solicitudes de Entidades</span>
            <h1 class="mt-3"  *ngIf="entidades.length==0">No hay Notificaciones nuevas</h1>                
            <table *ngIf ="entidades.length > 0" class="table table-striped mt-2">
                <thead>
                    <tr class="noHover">
                        <th>Descripcion</th>
                        <th>fecha</th>
                        <th>Aprobar</th>
                        <th>Rechazar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  id="{{entidad.id}}"  *ngFor="let entidad of entidades">
                        <td (click)="[openPopup(entidad.id)]" style="cursor: pointer;"> {{entidad.descripcion}} </td>
                        <td (click)="[openPopup(entidad.id)]" style="cursor: pointer;"> {{entidad.fecha}} </td>
                        <th style="color: green; cursor: pointer;  text-align: left;" (click)="aprobarEntidades(entidad.id,entidad.id_entidad,entidad.id_curso,entidad.es_curso,entidad.email_entidad)">✓</th>
                        <th style="color: red; cursor: pointer;  text-align: left;" (click)="rechazarEntidadesDialog(entidad.id,entidad.id_entidad,entidad.id_curso,entidad.es_curso,entidad.email_entidad)">X</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div *ngFor= "let notificacion of notificaciones ">
    <div  id="{{notificacion.id}}" class="modal" role="dialog" [ngStyle]="{'display':displayStyle[notificacion.id]}" style="font-size: 16px;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title mt-3">{{notificacion.titulo_itinerario}}</h1>
          </div>
          <div class="modal-body">
            <p> <b>Titulo: </b>{{notificacion.titulo_itinerario}}</p>
            <p> <b>Nombre: </b>{{notificacion.nombre_itinerario}}</p>
            <p> <b>Descripcion: </b>{{notificacion.descripcion_itinerario}}</p>
            <p> <b>Observacion: </b>{{notificacion.observacion_itinerario}}</p>
            <p> <b>Fecha: </b>{{notificacion.fecha_itinerario}}</p>
            <p> <b>Hora: </b>{{notificacion.hora_itinerario}}</p>
            <p> <b>Fecha de alta: </b>{{notificacion.fecha_alta_itinerario}}</p>
            <p> <b>Link: </b>{{notificacion.link_itinerario}}</p>
            <img src="{{getStringImg(notificacion.imagen_itinerario)}}"  class="card-img-top"alt="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="[closePopup(notificacion.id)]">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div *ngFor= "let entidad of entidades ">
    <div  id="{{entidad.id}}" class="modal" role="dialog" [ngStyle]="{'display':displayStyle[entidad.id]}" style="font-size: 16px;">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title mt-3">{{entidad.descripcion}}</h1>
          </div>
          <div class="modal-body">
            <p> <b>Nombre entidad: </b>{{entidad.nombre_entidad}}</p>
            <p> <b>Cuit: </b>{{entidad.cuit_entidad}}</p>
            <p> <b>Dirección: </b>{{entidad.direccion_entidad}}</p>
            <p> <b>Telefono: </b>{{entidad.telefono_entidad}}</p>
            <p> <b>Pais: </b>{{entidad.pais_entidad}}</p>
            <p> <b>Provincia: </b>{{entidad.provincia_entidad}}</p>
            <p> <b>Ciudad: </b>{{entidad.cuit_entidad}}</p>
            <p> <b>Director: </b>{{entidad.director_entidad}}</p>
            <p> <b>Email: </b>{{entidad.email_entidad}}</p>
            <p> <b>Web: </b>{{entidad.web_entidad}}</p>
            <p> <b>Fecha: </b>{{entidad.fecha}}</p>
            <p> <b>imagen: </b>{{entidad.imagen_entidad}}</p>
            <img src="{{getStringImg(entidad.imagen_entidad)}}"  class="card-img-top"alt="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="[closePopup(entidad.id)]">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  


