<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/home']" ><img src="assets/img/SeeCoursesIco.png" alt="" width="40"> 
            SeeCourses
        </a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
        </div>
        <button class="btn btn-dark" [routerLink]="['/login']"> Iniciar Sesión                       
            <mat-icon  matBadgeColor="warn" svgIcon="login"></mat-icon>
        </button>
    </div>
</nav>

