<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/entidad/listarCursos"><img src="assets/img/SeeCoursesIco.png" alt="" width="40"> 
            SeeCourses
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/entidad/listarCursos">Solicitudes</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="agregarCurso">Agregar Curso</a>
                </li>
            </ul>
        </div>
        <div class="container">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style=" float:right; text-align:right;">
                <li class="nav-item">
                    <a class="nav-link"><mat-icon  style="cursor:pointer" svgIcon="notification" matBadge="{{notificaciones.length}}" matBadgeColor="warn" matBadgeSize="small" [matBadgeHidden]="hidden" (click)="mostrarNotificaciones()"></mat-icon></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"> <mat-icon   title="Salir"  style="cursor:pointer" svgIcon="logout" (click)="cerrarSesion();" routerLink="/home"></mat-icon></a>
                </li>
            </ul>  
        </div>
    </div>
</nav>


<div *ngIf="verNotificaciones" class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3">
        <div class="notificaciones mt-2">
            <div class="mt-0 ms-0"
                style="background-color: #212529; color: white;border-bottom: 1px solid rgba(128, 128, 128, 0.192); border-top-left-radius: 10px; border-top-right-radius: 10px;">
                <h1 class="ms-3">Notificaciones</h1>
            </div>
            <div id="{{notif.id}}" *ngFor="let notif of notificaciones" (click)="notificacionVisualizada(notif.id)"
                [className]="notificacionVista[notif.id] ? 'notificacionVista':'notificacionNoVista'">
                <h4 class="ms-3 my-1 mt-0" style="line-height: 4;">{{notif.descripcion}} <span *ngIf="notif.nombre_itinerario">" {{notif.nombre_itinerario}}"</span> <div  class="asterisco" *ngIf="!notificacionVista[notif.id]"><h2>*</h2></div> <div class="eliminar" *ngIf="notificacionVista[notif.id]"><h4 (click)="eliminarNotificacion(notif.id)">Eliminar</h4></div> </h4>
            </div>
        </div>
    </div>
</div>




