<app-navbar-admin></app-navbar-admin>
<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h1 style="text-align: center;">{{titulo}}
                        <div *ngIf ="loading"class="spinner-border" role="status" style="float: right;"></div>
                    </h1>
                    <h4 class="text-danger text-center mt-3" *ngIf="submitted && agregarLocalidades.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</h4>
                    <form name ="agregarLocalidadesDataForm"  #agregarLocalidadDataForm="ngForm" class="mt-4"[formGroup]="agregarLocalidades" (ngSubmit)="addEditLocalidades()" >   
                        
                        <select id="id_pais" #id_paisForm name="id_pais"  class="form-select mt-3">
                            <option value="0" disabled selected>Pais</option>
                            <option value="{{pais.id}}" *ngFor ="let pais of paises;">{{pais.descripcion}}</option>
                        </select>

                        <select id="id_provincia" #id_provinciaForm name="id_provincia"  [(ngModel)]="localidadModel.id_provincia" class="form-select mt-3" formControlName="id_provincia">
                            <option value="0" disabled selected>Provincia</option>
                            <option value="{{prov.id}}" *ngFor ="let prov of provincias;">{{prov.descr_provincia}}</option>
                        </select>

                        <input #descripcionForm name="localidad"  [(ngModel)]="localidadModel.localidad" type="text" class="form-control mt-3" placeholder="Localidad"  formControlName="localidad">            
                        <div class="mt-3 text-center">
                            <button type="text" class="btn btn-secundary mr-3" [routerLink]="['/adminGeneral/localidades']"
                                routerLinkActive="active"> Volver </button>
                            <button type="sumbit" class="btn btn-dark"> Agregar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
