<div class="container pt-4 mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h1 style="line-height: 1.2; font-size: 1.75rem; font-weight: 500;" class="text-center">{{titulo}} 
                        <div *ngIf ="loading"class="spinner-border float-right" role="status"></div>
                    </h1>
                    <h3 class="text-danger text-center mt-3" *ngIf="submitted && agregarCurso.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</h3>
                    <h3 class="text-danger text-center mt-3" *ngIf="!validarImagen">Debe seleccionar al menos una imagen</h3> 
                    <form name ="agregarCursoDataForm"  #agregarCursoDataForm="ngForm"  class="mt-4" [formGroup]="agregarCurso" (ngSubmit)="addEditCurso()">
                        <div class="row" style="margin-bottom:5px;">
                            <div class="col">
                                <input #nombreForm name="nombre"  [(ngModel)]="itinerarioModel.nombre" type="text" class="form-control mt-2" placeholder="Nombre" formControlName="nombre">
                            </div>
                            <div class="col">
                                <input #tituloForm name="titulo"  [(ngModel)]="itinerarioModel.titulo" type="text" class="form-control mt-2" placeholder="Palabras clave para la busqueda" formControlName="titulo">
                            </div>
                        </div>
                        <input #descripcionForm name="descripcion"  [(ngModel)]="itinerarioModel.descripcion" type="text" class="form-control mt-3" placeholder="Descripcion" formControlName="descripcion">
                        <input #observacionForm name="observacion"  [(ngModel)]="itinerarioModel.observacion" type="text" class="form-control mt-3" placeholder="Observacion" formControlName="observacion">
                        <div class="row" style="margin-bottom:5px;">
                            <div class="col">
                                <input id ="fecha" #fecha_itinerarioForm name="fecha_itinerario"  [(ngModel)]="itinerarioModel.fecha_itinerario" type="text" class="form-control mt-3" placeholder="Fecha actividad" 
                                onfocus="(this.type='date')" onblur="(this.type='text')" formControlName="fecha_itinerario" style="margin-bottom:5px;" min="{{today}}">  
                            </div>
                            <div class="col">
                                <input id="hora_itinerario"(change)="onChangeHora($event)"#hora_itinerarioForm name="hora_itinerario"  [(ngModel)]="itinerarioModel.hora_itinerario"  class="form-control mt-3" placeholder="Hora actividad" formControlName="hora_itinerario" style="margin-bottom:5px;"
                                onfocus="(this.type='time')" onblur="(this.type='text')">
                            </div>

                            <div class="col">
                                <input id="hora_itinerario_fin" (change)="onChangeHoraFin($event)" #hora_itinerario_finForm name="hora_itinerario_fin"  type="text" [(ngModel)]="itinerarioModel.hora_itinerario_fin"  class="form-control mt-3" placeholder="Finalización actividad" formControlName="hora_itinerario_fin" style="margin-bottom:5px;"
                                onfocus="(this.type='time')" onblur="(this.type='text')"  max="10:00:00">
                            </div>
                            <h3 class="text-danger text-center mt-3" *ngIf="errorFechas">La hora final no puede ser menor a la hora de inicio</h3>
                        </div>
                        <div class="row" style="margin-bottom:5px;">
                            <div class="col">
                               <input #linkForm name="link"  [(ngModel)]="itinerarioModel.link" type="text" class="form-control mt-3" placeholder="Link" formControlName="link">
                            </div>
                        </div>
                        <input #instructorForm name="instructor"  [(ngModel)]="itinerarioModel.instructor" type="text" class="form-control mt-3" placeholder="Disertantes/Profesor" formControlName="instructor">

                        <select id="selectorDeImagen"#selectorDeImagen class="form-select mt-3">
                            <option value="0" disabled selected>Subir imagen </option>
                            <option value="1">Subir imagen propia</option>
                            <option value="2">Subir imagen por defecto</option>
                        </select>

                        <select (change)="onChangeSelect($event)" *ngIf="imagenPorDefecto" id ="img-default"class="form-select mt-3">
                            <option value="0" disabled selected>Imagen</option>
                            <option value="{{img.imagen}}" *ngFor ="let img of imagenDefault;">{{img.descripcion}}</option>
                        </select>

                        <div *ngIf="imagenPropia" id ="img-propia" class="row" style="margin-bottom:5px;">
                            <div class="col">
                                <input #imagenForm name="imagen"   type="file" class="form-control mt-3" placeholder="Imagen"(change)="fileChangeEventFoto($event)">
                            </div>
                        </div>

                        <div  *ngIf="img_foto">
                            <img class="previewImagen mt-3" src="{{img_foto}}">
                        </div>

                        <div  *ngIf="!img_foto && imagenPorDefecto && imagenExist">
                            <img class="previewImagen mt-3" src="{{getStringImg(itinerarioModel.imagen)}}">
                        </div>

                        <div  *ngIf="editImagen">
                            <img class="previewImagen mt-3" src="{{getStringImg(itinerarioModel.imagen)}}">
                        </div>

                        <div class="mt-3 text-center">
                            <button type="text" class="btn btn-secundary mr-3" [routerLink]="['/entidad/listarCursos']"> Volver </button>
                            <button id="btn-submit" type="submit" class="btn btn-dark"> Agregar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="mostrarFechasOcupadas" class="col">
            <div class="card border-danger">
                <div class="card-body text-danger" >
                    <h2 style="line-height: 1.2; font-weight: 500;" class="mt-2">Horarios ocupados</h2>
                    <div *ngFor="let itinerario of fechasNoDisponibles">
                        <p> <b>Nombre: </b>{{itinerario.nombre}}</p>
                        <p><b>Descripcion: </b>{{itinerario.descripcion}}</p>
                        <p><b>Disertantes/Profesor: </b>{{itinerario.instructor}}</p>  
                        <p><b>Hora: </b>{{itinerario.hora_itinerario}} - Hora fin: {{itinerario.hora_itinerario_fin}}</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
