<div class="container pt-4 mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h1 style="line-height: 1.2; font-size: 1.75rem; font-weight: 500;" class="text-center">Ingresar datos de Usuario
                    </h1>
                    <h3 class="text-danger text-center mt-3" *ngIf="submitted && registrarUsuario.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</h3>
                    <form name ="registrarUsuarioDataForm"  #registrarUsuarioDataForm="ngForm"  class="mt-4" [formGroup]="registrarUsuario" (ngSubmit)="addAdmin()">
                        <input #usuarioForm name="usuario"  [(ngModel)]="usuarioModel.usuario" type="text" class="form-control mt-3" placeholder="Usuario" formControlName="usuario">                          
                        <input id="pass" #passForm name="pass"  [(ngModel)]="usuarioModel.pass" type="password" class="form-control mt-3" placeholder="Constraseña" formControlName="pass">                
                        <input id="confirm_pass" type="password" class="form-control mt-3" placeholder="Confirmar Constraseña" (keyup)="confirmarContrasena()">                              
                        <h4 class="text-danger mt-3" *ngIf="!validarPass">Las contraseñas no son iguales</h4>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container pt-4 mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h1 style="line-height: 1.2; font-size: 1.75rem; font-weight: 500;" class="text-center">Igresar datos de administrador
                    </h1>
                    <!--<h3 class="text-danger text-center mt-3" *ngIf="submitted && agregarCurso.invalid">TODOS LOS CAMPOS SON OBLIGATORIOS</h3>-->
                    <form name ="registrarAdminDataForm"  #registrarAdminDataForm="ngForm"  class="mt-4" [formGroup]="registrarAdmin" (ngSubmit)="registrarAdministrador()">

                        <input #passForm name="pass"  [(ngModel)]="adminModel.pass" type="text" class="form-control mt-3" placeholder="Password" formControlName="pass">
                        <input #pass_extremoForm name="pass_extremo"  [(ngModel)]="adminModel.pass_extremo" type="text" class="form-control mt-3" placeholder="Password Extremo" formControlName="pass_extremo">
                        <input #usuarioForm name="usuario"  [(ngModel)]="adminModel.usuario" type="text" class="form-control mt-3" placeholder="Usuario" formControlName="usuario">

                        <div class="mt-3 text-center">
                            <button type="text" class="btn btn-secundary mr-3" 
                                routerLinkActive="active" routerLink="/login"> Volver </button>
                            <button type="sumbit" class="btn btn-dark"> Agregar </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

