
<div class="container">

    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="../../../assets/img/SeeCoursesIco.png" />
        <p id="profile-name" class="profile-name-card"></p>
        <form class="form-signin" [formGroup]="logearUsuario" (ngSubmit)="loginUsuario(tipo)">
            <span id="reauth-email" class="reauth-email"></span>
            <input type="email" id="inputEmail" class="form-control" placeholder="Usuario"  autofocus formControlName="user">
            <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña"  formControlName="password">
            <div id="remember" class="checkbox">
            </div>
            <button class="btn btn-lg btn-dark btn-block btn-signin" type="submit">Iniciar Sesión</button>
            <h4 class="mt-2 text-center" style="color: red;" *ngIf="usuarioIncorrecto"> Usuario o contraseña incorrectos</h4>
        </form>
        <h4 *ngIf="tipo =='usuario'" [routerLink]="['/registrarEntidad']" style="cursor: pointer"><u>Registrar una entidad</u></h4>
        <h4 *ngIf="tipo =='admin'" [routerLink]="['/registrarAdmin']" style="cursor: pointer" >Registrar un administrador</h4>
    </div>
</div>


