<app-navbar-admin></app-navbar-admin>
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <span class="h3">Localidades</span>
            <button style="float: right;" class="btn btn-dark btn-lg " [routerLink]="['/adminGeneral/agregarLocalidades']"
                routerLinkActive="active">Agregar</button>
            <h2 class="mt-3"  *ngIf="localidades.length==0">No hay datos para mostrar</h2>                
            <table *ngIf ="localidades.length > 0" class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Pais</th>
                        <th>Provincia</th>
                        <th>Descripcion</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let localidad of localidades">
                        <td> {{localidad.descripcion_pais}} </td>
                        <td> {{localidad.descripcion_provincia}} </td>
                        <td> {{localidad.descripcion_localidad}} </td>
                        <td><i [routerLink]="['/adminGeneral/localidades/editarLocalidades/', localidad.id_procedencia]" class="fas fa-edit fa-lg text-info "></i></td>
                        <td><i (click)="eliminarLocalidad(localidad.id_procedencia)" class="fas fa-trash-alt fa-lg text-danger"></i> </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container">
            <nav aria-label="Page navigation example">
                <ul class="pagination" style="margin-left: 15px; ">
                    <li class="page-item"><a class="page-link" (click)="previous()" >Previous</a></li>
                    <li class="page-item" *ngFor="let item of array" (click)="indexPagina(item)" style="min-width: 65px;">
                        <a class="page-link">{{item}}</a>
                    </li>
                    <li class="page-item"><a class="page-link" (click)="next()" style="float:right;">Next</a></li>
                </ul>        
        </nav>
        </div>
       
    </div>
</div>
