.card-body {
    background-color: #e8e8e8;
}

.card-body:hover { 
    background: #c4c4c4; 
    opacity: 1;
    margin-top: 0px;
}  

.modal{
    background-color: rgba(0, 0, 0, 0.5);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;  
    align-items: center;
  }

  .modal-content{
    margin-top: 20%;
  }
.btn-dark{
    width: 100%;
}
.modal-header{
   background-color: #212529;
   color: white;
}

.card-img-top{
min-height: 300px;
max-height: 300px;
min-width: 400px;
max-width: 500px;
}

.imagen-tarjeta{
  max-width: 242px;
  min-height: 200px;
  max-width: 242px;
  max-height: 200px;
}
